<div class="banner">Checkout</div>
<div class="row d-flex checkout">
  <div class="col-md-7 courses">
    <ng-container *ngFor="let course of courses; let i = index">
      <app-course [course]="course" [actions]="actions"></app-course>
    </ng-container>
  </div>
  <div class="col-md-2">
    <div class="" *ngIf="courses?.length">
      <h3>CART TOTALS</h3>
      <p>
        Subtotal <span> ₹ {{ totalPrice }} </span>
      </p>
      <h2>
        Total <span> ₹ {{ totalPrice }} </span>
      </h2>
      <app-button
        (mclick)="proceedToCheckout()"
        text="Proceed to Checkout"
        [type]="'primary'"
      ></app-button>
    </div>
  </div>
</div>
