<div class="book" *ngIf="course">
  <img
    src="https://m.media-amazon.com/images/I/81ehEnDuFmL._AC_UL640_FMwebp_QL65_.jpg"
  />
  <h2>{{ course.courseName }}</h2>
  <h4 class="author">Author - {{ course.author }}</h4>
  <h3>
    {{ course.actualPrice }}
    <span *ngIf="discounted">
      {{ course.discountPercentage }}
    </span>
  </h3>
  <div class="actions d-flex flex-column align-items-center">
    <ng-container *ngFor="let action of actions">
      <app-button
        (mclick)="action.action ? action.action(course) : null"
        text="{{ action.text }}"
        [type]="action.type"
      ></app-button>
    </ng-container>
  </div>
  <div class="details">
    <mat-icon
      [routerLink]="['/course-details']"
      [queryParams]="{ id: course.id }"
      >arrow_right_alt</mat-icon
    >
  </div>
  <div *ngIf="course?.tags?.length" class="tags" id="tag">
    tags: <span>{{ tags }}</span>
  </div>
</div>
