<div class="book">
  <img
    src="https://m.media-amazon.com/images/I/81ehEnDuFmL._AC_UL640_FMwebp_QL65_.jpg"
  />
  <h2>The Complete Angular Developer Course</h2>
  <h4 class="author">Author - John</h4>
  <h3>{{ "#1,3444" }} <span> 10%</span></h3>
  <div class="actions d-flex flex-column align-items-center">
    <app-button text="Add To Cart" type="primary"></app-button>
    <app-button text="Add to Wishlist" type="primary"></app-button>
  </div>
  <div class="details">
    <mat-icon>arrow_right_alt</mat-icon>
  </div>
  <div class="tags">
    tags: <span>{{ tags }}</span>
  </div>
</div>
