<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img [routerLink]="['/']" src="assets/imgs/app-logo-transparent.gif" />
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a href="#courses" mat-button>Courses</a>
      <a href="/wish-list" mat-button>My Wish List</a>
      <a href="/cart-details" mat-button>Cart Details</a>
      <a href="/profile" *ngIf="isLoggedIn" mat-button> My Profile</a>
      <a (click)="login()" *ngIf="!isLoggedIn" mat-button> Login</a>
    </div>
    <div class="d-flex align-items-center">
      <div class="cart" [routerLink]="['/cart-details']">
        <mat-icon>shopping_cart</mat-icon>
        <span id="cartCount"> {{ cartCount }}</span>
      </div>
    </div>
    <button
      class="menu"
      mat-icon-button
      fxShow="true"
      fxHide.gt-sm
      (click)="openSideBar()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
