<div class="banner">Discover Latest Courses on React</div>
<div class="container">
  <a [routerLink]="['/dashboard']" mat-button>All Courses</a>
</div>
<div class="row d-flex justify-content-center content">
  <div class="col-md-8 d-flex justify-content-between">
    <div class="col-md-7">
      <h2>Overview</h2>
      <div>
        It should describe the course on the left side. It should describe the
        course on the left side. It should describe the course on the left side.
        It should describe the course on the left side.
      </div>
    </div>
    <div class="col-md-4">
      <app-video-card [course]="course" [actions]="actions"></app-video-card>
    </div>
  </div>
</div>
