<div class="video-card" *ngIf="course">
  <img src="assets/imgs/thumbnail.png" (click)="playVideo()" />

  <h2>{{ course.courseName }}</h2>
  <h3>
    {{ course.actualPrice }}
    <span *ngIf="discounted">
      {{ course.discountPercentage }}
    </span>
  </h3>
  <div class="actions d-flex flex-column align-items-center">
    <ng-container *ngFor="let action of actions">
      <app-button
        (mclick)="action.action ? action.action(course) : null"
        text="{{ action.text }}"
        [type]="action.type"
      ></app-button>
    </ng-container>
  </div>
  <p *ngIf="showCountDown">{{ timeLeft }}</p>
</div>
