<div>
  <app-header></app-header>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <div class="mclose">
          <mat-icon mat-list-item>close</mat-icon>
        </div>
        <div>  <a href="#courses" mat-button>Courses</a></div>
        <div><a href="/wish-list" mat-button>My Wish List</a></div>
        <div> <a href="/cart-details" mat-button>Cart Details</a></div>
         <div>  <a href="/profile" mat-button> My Profile</a></div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
