.password-icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.caret-icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

input[type="checkbox"]:checked {
  position: relative;
}
.stacked {
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: -12px !important;
}
input {
  --webkit-transform: translateZ(0) !important;
  padding: 0 16px !important;
  height: 40px;
  width: 100%;
  --placeholder-color: #858585;
  font-size: 12px;
}
select {
  --webkit-transform: translateZ(0) !important;
  --padding-top: 0 !important;
  --padding-start: 0 !important;
}
mat-select {
  border-radius: 20px;
  width: 100%;
  border-radius: 10px;
  border: 0.5px solid #9276e0;
  background: #fff;
}
::ng-deep .mat-mdc-select-trigger {
  padding: 11px 20px !important;
}

.mat-mdc-select-trigger {
  padding: 14px 31px !important;
}
.input {
  margin-bottom: 16px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #9276e0;
  //  padding: 0 16px;
  background: #fff;
}
.textarea {
  height: auto !important;
}

.checkbox {
  margin: 2px 16px 0 0;
}
.grayborder {
  border: 1px solid gray !important;
}

.input_checkbox {
  display: flex;
  margin-bottom: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
input,
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

.readonly {
  background: #dddddd;
}
.input-wrapper.sc-input-md {
  padding-top: 0 !important;
}
.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
}
.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background: #fff;

  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.dropdown-focused {
  display: block;
}
.dropdown__item {
  margin: 6px 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  padding: 11px 20px !important;
}

.password-input input {
  border: none !important;
  margin-top: 0 !important;
}

.password-input {
  margin-top: 20px;
  margin-bottom: 0 !important;
  background: #fff !important;
  border: 0.5px solid #9276e0;
}
