.container {
  padding: 25px;
}
h2 {
  font-size: 1rem;
  text-align: center;
}
.action {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

app-input {
  margin-bottom: 15px;
}
