<div class="container" [formGroup]="form">
  <h2>Basic Information</h2>
  <label for="firstName">Dispplay Name: </label>
  <app-input [form]="form" name="displayName" placeholder="Display Name" />

  <label for="firstName">First Name: </label>
  <app-input [form]="form" name="firstName" placeholder="First Name" />

  <label for="lastname">Last Name: </label>
  <app-input [form]="form" name="lastName" placeholder="Last Name" />

  <label for="about">About Yourself: </label>
  <app-input
    name="About Yourself"
    maxlength="100"
    placeholder="Tell us more about yourself"
    [form]="form"
    type="textarea"
    name="aboutYourself"
  />

  <label for="">Your area of interest: </label>
  <div class="d-flex radios">
    <app-input
      [form]="form"
      type="checkbox"
      name="areaOfInterest"
      placeholder="Frontend"
      mvalue="Frontend"
      [multipleChoice]="true"
    ></app-input>
    <app-input
      [form]="form"
      type="checkbox"
      name="areaOfInterest"
      placeholder="Backend"
      mvalue="Backend"
      [multipleChoice]="true"
    />
    <app-input
      [form]="form"
      type="checkbox"
      name="areaOfInterest"
      placeholder="QA"
      mvalue="QA"
      [multipleChoice]="true"
    />
  </div>

  <label for="">Are you a Student or a Professional: </label>
  <div class="d-flex radios">
    <app-input
      [form]="form"
      type="radio"
      name="profession"
      placeholder="Student"
      mvalue="student"
    ></app-input>
    <app-input
      [form]="form"
      type="radio"
      name="profession"
      placeholder="Professional"
      mvalue="professional"
    ></app-input>
  </div>

  <ng-container *ngIf="isProfessional">
    <label>Experience: </label>
    <div class="d-flex radios">
      <app-input
        [form]="form"
        type="radio"
        name="experience"
        placeholder="0 - 5"
        mvalue="0-5"
      ></app-input>
      <app-input
        [form]="form"
        type="radio"
        name="experience"
        placeholder="5 - 10"
        mvalue="5 - 10"
      ></app-input>
      <app-input
        [form]="form"
        type="radio"
        name="experience"
        placeholder="10 & above"
        mvalue="10 & above"
      ></app-input>
    </div>

    <label>Expertise: </label>
    <div class="d-flex radios">
      <app-input
        [form]="form"
        type="radio"
        name="expertise"
        placeholder="Backend"
        mvalue="backend"
      ></app-input>
      <app-input
        [form]="form"
        type="radio"
        name="expertise"
        placeholder="Frontend"
        mvalue="frontend"
      ></app-input>
    </div>

    <label for="role">Mention your role</label>
    <app-input
      name="role"
      type="textarea"
      placeholder="Mention your role"
      maxlength="200"
      [form]="form"
    />
  </ng-container>
  <div class="action">
    <app-button
      [disabled]="!form.valid"
      text="Submit"
      type="primary"
      (mclick)="saveInfo()"
    />
  </div>
</div>
