<div class="banner">Discover Latest Courses on <br />Angular</div>
<div class="course-section">
  <app-input
    [form]="form"
    name="search"
    type="select"
    [options]="filter"
  ></app-input>
  <div class="courses">
    <ng-container *ngFor="let course of paginatedCourses; let i = index">
      <app-course
        [course]="course"
        (cartEvent)="addToCart($event)"
        (wishListEvent)="addToWishList($event)"
      ></app-course>
    </ng-container>
  </div>
  <mat-paginator
    [length]="courses.length"
    #paginator
    [hidePageSize]="true"
    [pageSize]="perPage"
    showFirstLastButtons
  ></mat-paginator>
</div>
