<div class="banner">Discover Latest Courses on <br />Angular</div>
<div class="course-section">
  <div class="row d-flex justify-content-end">
    <div class="col-md-3">
      <app-input
        [form]="form"
        name="search"
        type="text"
        placeholder="Search..."
      ></app-input>
    </div>
    <div class="col-md-2">
      <app-input
        placeholder="Price Range"
        [form]="form"
        name="priceRange"
        type="select"
        [options]="filter"
        (mchange)="filterByPriceRnge($event)"
      ></app-input>
    </div>
  </div>

  <div class="courses">
    <ng-container *ngFor="let course of paginatedCourses; let i = index">
      <app-course [course]="course" [actions]="actions"></app-course>
    </ng-container>
  </div>
  <mat-paginator
    [length]="courses.length"
    #paginator
    [hidePageSize]="true"
    [pageSize]="perPage"
    showFirstLastButtons
  ></mat-paginator>
</div>
