.banner {
  background: linear-gradient(
    221deg,
    #9276e0 36.15%,
    rgba(188, 127, 128, 255) 249.64%
  );
  height: 250px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
